<strong>Machine Learning in Action, in F#</strong>

Porting <a href="http://www.manning.com/pharrington/">Machine Learning in Action</a> from Python to F#

<ul>
    <li><a href="{{ site.url }}/2012/07/29/Nearest-Neighbor-Classification-part-1/">KNN classification (1)</a></li>
    <li><a href="{{ site.url }}/2012/08/01/Nearest-Neighbor-Classification-part-2/">KNN classification (2)</a></li>
    <li><a href="{{ site.url }}/2012/08/05/Decision-Tree-classification/">Decision Tree classification</a></li>
    <li><a href="{{ site.url }}/2012/08/18/Naive-Bayes-classification/">Naive Bayes classification</a></li>
    <li><a href="{{ site.url }}/2012/09/30/Logistic-Regression/">Logistic Regression classification</a></li>
    <li><a href="{{ site.url }}/2012/11/25/Support-Vector-Machine-in-FSharp-work-in-progress/">SVM classification (1)</a></li>
    <li><a href="{{ site.url }}/2012/12/26/Support-Vector-Machine-in-FSharp/">SVM classification (2)</a></li>
    <li><a href="{{ site.url }}/2012/12/29/AdaBoost-classifier-in-FSharp/">AdaBoost classification</a></li>
    <li><a href="{{ site.url }}/2013/02/10/K-Means-Clustering-in-FSharp/">K-Means clustering</a></li>
    <li><a href="{{ site.url }}/2013/03/25/Simplify-data-with-SVD-and-MathNET-in-FSharp/">SVD</a></li>
    <li><a href="{{ site.url }}/2013/04/28/Recommendation-Engine-with-SVD-and-MathNET-in-FSharp/">Recommendation engine</a></li>
    <li><a href="https://github.com/mathias-brandewinder/Machine-Learning-In-Action">Code on GitHub</a></li>
</ul>